
<div class="modal fade" id="joinRoomModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-body">
                <%= render "rooms/components/join_room" %>
                <div>
                    <button type="button" class="btn btn-secondary create-room-button mx-auto" data-dismiss="modal">
                    <%= t("cancel") %>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>